service cloud.firestore {
  match /databases/{database}/documents {
    match /users {
      allow write: if request.resurce.data.role == 'user';
    }
  }
}