service cloud.firestore {
  match /databases/{database}/documents {
    match /users{user} {
      allow write: if request.resource.data.role == 'user';
    }
  }
}